﻿@model E.Shop.Models.Identity.LoginModel

<h3>Log In</h3>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div>
        <p>
            <label>Имя</label><br />
            @Html.EditorFor(x => x.Name)
        </p>
        <p>
            <label>Пароль</label><br />
            @Html.EditorFor(x => x.Password)
        </p>
        <p><button type="submit">Log In</button></p>
    </div>
}
