﻿@model E.Shop.Models.Identity.RegisterModel
<h3>Регистрация</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr/>
        @Html.ValidationSummary(false)
        <div>
            Name
            <div>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
        <div>
            Электронный адрес
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div>
        <div>
            Пароль
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>
        <div>
            Подтвердить пароль
            <div>
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
        </div>
        <div>
            <div>
                <input type="submit" id="Register" value="Зарегистрировать"/>
            </div>
        </div>
    </div>
    @Html.ActionLink("Cancel", "Index","Home", null, new { @class = "btn btn-default" })
}
