﻿<h3>Подтверждение сброса пароля.</h3>
<div>
    <p>
        Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
