﻿@model PagedList.IPagedList<E.Shop.Models.ModelView>

@section rightPanel
{
    @{Html.RenderAction("SearchModels", "Search");}
}
<div id="loading" style="display:none; color:Red; font-weight:bold;">
    <p>Идет загрузка...</p>
</div>
<div id="results">
    @Html.Action("ModelViewData", new {pagedList = Model})
</div>

   
