﻿@model  E.Shop.Models.ModelDetailsView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
   @Model.Title
</h3>

<div>
    <img class="img.center" src="@Url.Content(Model.imgUrl)"/>
    <div>
        <table>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>@Model.Price</td>
            </tr>
            <tr>
                <td>Warranty</td>
                <td>@Model.Warranty</td>
            </tr>
            <tr>
                <td>Availability</td>
                <td>@Model.Availability</td>
            </tr>
            <tr>
                <td>Delivery</td>
                <td>@Model.Delivery</td>
            </tr>

        </table>
    </div>
</div>

