﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>E.Shop Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Content/jquery")
</head>
<body>
    <table align="center" width="1024" cellspacing="8">
        <tr>
            <td colspan="3">
                <img src="@Url.Content("~/Content/Images/BlackLogo.png")" alt="no logo" />
            </td>
        </tr>
        <tr>
            <td colspan="3" id="menuPanel">
                <table width="100%" class="title" cellspacing="0" cellpadding="0" border="0" style="border-collapse: collapse;">
                    <tr>
                        <td width="80%">
                            @Html.MvcSiteMap().SiteMapPath()
                        </td>
                        <td style="background-color: whitesmoke">@Html.Partial("_LoginPartial")</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="20%">
                <div id="leftPanel">
                    @if (IsSectionDefined("leftPanel"))
                    {
                        @RenderSection("leftPanel")
                    }
                    else
                    {
                        @Html.MvcSiteMap().Menu()
                    }

                </div>
            </td>
            <td>
                <div id="contentPanel"> @RenderBody()</div>
            </td>
            <td width="15%">
                <!-- Partial view GetExRates loading in JQuery and AJAX : return html-->
                <div id="exchangeRates" data-url="@Url.Action("GetExRatesAjax", "ExRates")"></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        var url = $("#exchangeRates").data('url');
                        $("#exchangeRates").load(url);
                    });
                </script>
                <div id="searchPanel">
                </div>
                <div id="rightPanel">
                    @RenderSection("rightPanel", false)
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                <span class="footer">2017 - Aspx E.Shop application</span>
            </td>
        </tr>
    </table>
</body>
</html>
