﻿@using Microsoft.AspNet.Identity

 @if (Request.IsAuthenticated)
 {
     using (Html.BeginForm())
     {
        @Html.AntiForgeryToken()
        <div style="text-align: right">
            @Html.Label($"Welcom: {User.Identity.GetUserName()}")
            @Html.ActionLink("Log out", "Logout", new { area = "", controller = "Account" })
        </div>
     }
 }
 else
 {
    <div style="text-align: right">
        @Html.ActionLink("Log in", "Login", "Account")
        @Html.ActionLink("Register", "Register", new { area = "", controller = "Account" })
    </div>
 }

