﻿@using E.Shop.App_Code
@using PagedList.Mvc;
@model PagedList.IPagedList<E.Shop.Models.ModelView>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="small" style="text-align: right">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), new {page}),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
    {
        LinkToFirstPageFormat = "<<",
        LinkToPreviousPageFormat = "Назад",
        LinkToNextPageFormat = "Вперед",
        LinkToLastPageFormat = ">>"
    }

      , new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "results", LoadingElementId = "loading", }))
</div>

    <div style="overflow: hidden">
        <ul class="model_list">
            @foreach (var value in Model)
            {
                <li>
                    <div style="width: 140px; height: 180px; text-align: center; border: solid 1px #d8bfd8; padding: 5px;">
                        <div style="height: 100px">
                            <a href="@GetImgUrl(value.ModelId)">
                                <img class="img.center" src="@Url.Content(value.imgUrl)" />
                            </a>
                        </div>
                        <div class="title" style="font-size: 10px; text-align: left; height: 30px">
                            @Html.ShortString(@value.Title, 25)
                        </div>
                        <div>@($"$ {value.Price:N2}")</div>
                    </div>
                </li>
            }
        </ul>
    </div>



@helper GetImgUrl(int modelId)
{
if (Request.IsAuthenticated)
{
    var areaName = User.IsInRole("Admin") ? "Admin" : "User";
    @Url.Action("Index", "Models", new { area = areaName, id = modelId })
}
else
{  @Url.Action("Login", "Account")}
}