﻿@model E.Shop.Store.Identity.Models.AppUser

@Html.ValidationSummary(false)
<h3>Edit User</h3>
<div class="form-group">
    <label>Name</label>
    <p class="form-control-static">@Model.UserName</p>
</div>


@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
} 