﻿@using E.Shop.App_Code
@using E.Shop.Models

@model  IEnumerable<E.Shop.Models.UsersViewModel>
<h3>
    Admin Page
</h3>
<p>
 @Html.ActionLink("Щелкните здесь чтобы сбросить пароль", "ForgotPassword", "Account")
</p>
<div>
    <table>
        <tr>
            <th>ID</th><th>Name</th><th>Email</th><th>Ban</th><th>Roles</th><th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" class="text-center">No User Accounts</td>
            </tr>
        }
        else
        {
            foreach (UsersViewModel user in Model)
            {
                <tr>
                    <td>@Html.ShortString(@user.Id, 15)</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.ConfirmBan</td>
                    <td>
                        @foreach (var role in user.CurrentRols)
                        {
                            if (user.CurrentRols.First() == role)
                            {
                                @role
                            }
                            else
                            {
                                <p>@role</p>}
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin",
                            new {id = user.Id}))
                        {
                            @Html.ActionLink("Edit ", "Edit", new {id = user.Id})
                            @Html.ActionLink("Ban ", "Ban", new {id = user.Id})
                            <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>

