﻿@model  E.Shop.Models.ModelDetailsView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
    @Model.Title
</h3>


@using (Html.BeginForm("Edit", "Models", new {area="Admin"}))
{
    <div>
        @Html.HiddenFor(x => x.ModelId)
        <img class="img.center" src="@Url.Content(Model.imgUrl)"/>
        <div>
            <table>
                <tr>
                    <td>Description</td>
                    <td>@Html.EditorFor(m => m.Description)</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>@Html.EditorFor(m => m.Price)</td>
                </tr>
                <tr>
                    <td>Warranty</td>
                    <td>@Html.EditorFor(m => m.Warranty)</td>
                </tr>
                <tr>
                    <td>Availability</td>
                    <td>@Html.DropDownList("Availability", null, Model.Availability, new {@class = "small", @name = "availability"})</td>
                </tr>
                <tr>
                    <td>Delivery</td>
                    <td>@Html.DropDownList("Delivery", null, Model.Delivery, new {@class = "small", @name = "delivery"})</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Save"/>
                        @Html.ActionLink("Delete", "Delete", new {id = @Model.ModelId}, new {@type = "submit"})
                    </td>
                </tr>
            </table>
        </div>
    </div>
}
