﻿@model IEnumerable<E.Shop.Models.ExRateItem>

<table style="text-align: left">
    <tr>
        <th style="background-color: whitesmoke;" >Exchange's rate (by BNB.BY)</th>
    </tr>
    @foreach (var rate in Model)
    {
        <tr>
            <td style="padding-top: 0px">@rate.Exchange : @($"{rate.Rate:N2}")</td>
        </tr>
    }
    <tr>
        <td style="font-size: 60%">Update: @($"{ViewBag.UpdateDate}")</td>
    </tr>
</table>