﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul id="menu">

    @foreach (var node in Model.Nodes)
    {
        <li style="@(node.IsCurrentNode ? "text-decoration: underline;" : "")" value="@node">
            @Html.DisplayFor(m => node)
        </li>

        if (node.IsInCurrentPath && node.Children.Any())
        {
            @Children(node.Children, node)
        }

    }
    <p></p>

</ul>

@helper Children(SiteMapNodeModelList nodeList, SiteMapNodeModel parentNode)
{
    <ul>
        @if (parentNode.IsClickable)
        {
            foreach (SiteMapNodeModel node in nodeList)
            {
                <li id="menuItem" style="@(node.IsCurrentNode ? "text-decoration: underline;" : "")" value="@node">
                    @Html.DisplayFor(m => node)
                </li>
                if (node.IsCurrentNode && node.Children.Any())
                {
                    @Children(node.Children, node)
                }

            }

        }
    </ul>
}










