﻿@using E.Shop.App_Code
@using E.Shop.Store.Identity.Models

@model IQueryable<E.Shop.Store.Identity.Models.AppRole>

<div class="panel panel-primary">
    <div class="panel-heading">Roles</div>
    <table class="table table-striped">
        <tr><th>ID</th><th>Name</th><th>Users</th></tr>
        @if (Model.Count() == 0)
        {
            <tr><td colspan="3" class="text-center">No Roles</td></tr>
        }
        else
        {
            foreach (AppRole role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td>
                        @if (role.Users == null || role.Users.Count == 0)
                        {
                            @: No Users in Role
                        }
                        else
                        {
                            <p>
                                @string.Join(", ", role.Users.Select(x =>
                                    Html.GetUserName(x.UserId)))                                
                            </p>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>

@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
