﻿@using System.Web.Mvc.Html
@using E.Shop.App_Code
<link href='@Url.Content("~/Content/themes/base/jquery-ui.css")' rel="stylesheet" type="text/css"/>

<div>
    @using (Ajax.BeginForm("SearchModels", "Search", new AjaxOptions
    {
        UpdateTargetId = "results",
        LoadingElementId = "loading",
        LoadingElementDuration = 1000
    }))
    {
        <div class="title" style="background-color: whitesmoke; color: red;">Поиск</div>
        <table width="100%">
            <tr>
                <td colspan="2">Категория:</td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.DropDownList("Category", null, String.Empty, new {@class = "small", @name = "category"})
                </td>
            </tr>
            <tr>
                <td colspan="2">@Html.TextBox("SearchWords", "", new {@id = "searchWords", @class = "small", @name = "searchWords"})</td>

            </tr>
            <tr>
                <td>Цена от:</td>
                <td>до:</td>
            </tr>
            <tr>
                <td>@Html.TextBox("minPrice", "", new {@class = "small", @name = "minPrice"})</td>
                <td>@Html.TextBox("maxPrice", "", new {@class = "small", @name = "maxPrice"})</td>
            </tr>
            <tr>
                <td colspan="2">Наличие:</td>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.DropDownList("Availability", null, String.Empty, new {@class = "small", @name = "availability"})
                </td>
            </tr>
        </table>

        <input type="submit" value="Поиск"/>
    }
</div>

<script src="@Url.Content("~/Scripts/jquery-1.12.4.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")"></script>
<script type="text/javascript">
    $(function() {
        var autocompleteUrl = '@Url.Action("Find", "Search")';
        $("input#searchWords").autocomplete({
            source: autocompleteUrl,
            minLength: 2            
        });
    });
</script>

